---
import PageLagout from "@layouts/page.astro";
import { getPlayers } from "@models/player";
import HeadshotImage from "@components/headshot-image.astro";

export async function getStaticPaths() {
    const players = await getPlayers();

    return players.map(player => ({
        params: { slug: player.slug },
        props: player,
    }));
}

const player = Astro.props;
---
<PageLagout title={player.name}>
    <div class="flex gap-5">
        <HeadshotImage player={player} width="300" height="400" />
        <div>
            <h1 class="text-xl">{player.name}</h1>
            <h2 class="text-lg">{player.graduationYear}</h2>
            <div set:html={player.bio}></div>
        </div>
    </div>
</PageLagout>
